name: CD - Deploy to Kubernetes

on:
  workflow_run:
    workflows: ["CI - Build & Push Docker"]
    types: [ "completed" ]

permissions:
  contents: read

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted
    defaults:
      run:
        shell: 'C:\PROGRA~1\Git\bin\bash.exe -e {0}'
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set vars
        id: vars
        run: |
          echo "IMAGEn=eduardoavila26/monitor" >> $GITHUB_OUTPUT
          FULL_SHA=${{ github.event.workflow_run.head_sha }}
          echo "TAG_SHA=${FULL_SHA::7}" >> $GITHUB_OUTPUT
          echo "NAMESPACE=${{ secrets.K8S_NAMESPACE || 'default' }}" >> $GITHUB_OUTPUT

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'latest'

      - name: Configure kubeconfig
        id: set_config 
        run: |
          mkdir -p /.kube
          CONFIG_FILE_PATH=$HOME/.kube/config
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 -d > $CONFI